.activities{
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    max-width: 1400px;
    margin-bottom: 20px;
}

/*a hover*/

a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: black;
    
}
a .vieuxportimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .pomeguèsimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .frioulimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .calanquesimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .gardesimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .longchampsimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}
/*a hover*/

/*titre activité*/
.nom{
    font-weight: bold;
    font-size: 12px;
}
/*titre activité*/


/*vieux port*/
.vieuxportimg{
    width: 230px;
    height: 340px;
    border-radius: 10px;
    box-shadow: 4px 4px 50px gainsboro;
    margin-top: 60px;
    margin-right: 40px;
    margin-left: -190px;

}
.vieuxportimage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 310px;
    width: 230px;

}
/*vieux port*/

/*pomegues*/
.pomeguèsimg{
    border-radius: 10px;
    width: 220px;
    box-shadow: 4px 4px 50px gainsboro;
    height: 182px;
    margin-top: 60px;
    margin-right: 40px;
    margin-left: -20px;

}

.pomeguèsimage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 220px;
}
/*pomegues*/

/*frioul*/
.frioulimg{
    border-radius: 10px;
    width: 220px;
    box-shadow: 4px 4px 50px gainsboro;
    height: 150px;
    margin-top: 250px;
    margin-left: -260px;
    margin-right: 60px;

}

.frioulimage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 220px;

}
/*frioul*/

/*calanques*/
.calanquesimg{
    border-radius: 10px;
    width: 230px;
    height: 340px;
    box-shadow: 4px 4px 50px gainsboro;
    margin-top: 60px;
    margin-left: -40px;
    margin-right: 50px;

}

.calanquesimage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 230px;
    height: 310px;
}
/*calanques*/

/*gardes*/
.gardesimg{
    border-radius: 10px;
    width: 220px;
    height: 165px;
    box-shadow: 4px 4px 50px gainsboro;
    margin-top: 60px;
    margin-left: -30px;
    margin-right: -60px;
}

.gardesimage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 220px;
    height: 130px;
}
/*gardes*/

/*longchamps*/
.longchampsimg{
    border-radius: 10px;
    width: 220px;
    height: 165px;
    box-shadow: 4px 4px 50px gainsboro;
    margin-top: 235px;
    margin-left: -160px;
    margin-right: -20px;

}

.longchampsimage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 220px;
}
/*longchamps*/
