.activities{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
}

/*titre activité*/
.nom{
    font-weight: bold;
    font-size: 12px;
    width: auto;
    height: auto;
}

.nom_1{
    margin-top: -10px;
    padding-bottom: 8px;
}
.name_activities{
    font-weight: bold;
    position: relative;
    font-size: 20px;
}
/*titre activité*/


/*a hover*/

a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: black;
    
}
a .vieuxportimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .pomeguèsimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .frioulimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .calanquesimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .gardesimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .longchampsimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}
/*a hover*/

.cards_activities{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    margin-left: -190px;
}

.third_line{
    margin: auto;
    width: auto;
    display: flex;
}

.fourth_line{
    margin: auto;
    width: auto;
    display: flex;
}

/*vieux port*/
.vieuxportimg{
    width: 220px;
    height: 340px;
    border-radius: 10px;
    box-shadow: 4px 4px 50px gainsboro;
    margin: auto;
}
.vieuxportimage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 310px;
    width: 220px;
}
/*vieux port*/

/*pomegues*/
.pomeguèsimg{
    border-radius: 10px;
    width: auto;
    box-shadow: 4px 4px 50px gainsboro;
    height: 182px;
    margin: auto;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

.pomeguèsimage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 220px;
}
/*pomegues*/

/*frioul*/
.frioulimg{
    border-radius: 10px;
    width: auto;
    box-shadow: 4px 4px 50px gainsboro;
    height: 150px;
    margin: auto;
    margin-bottom: 0px;
    margin-left: -240px;
}

.frioulimage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 223px;
}
/*frioul*/

/*calanques*/
.calanquesimg{
    border-radius: 10px;
    width: auto;
    height: 340px;
    box-shadow: 4px 4px 50px gainsboro;
    margin: auto;
}

.calanquesimage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 220px;
    height: 310px;
}
/*calanques*/

/*gardes*/
.gardesimg{
    border-radius: 10px;
    width: auto;
    height: 165px;
    box-shadow: 4px 4px 50px gainsboro;
    margin-top: 0px;
    margin-left: 20px;
}

.gardesimage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 220px;
    height: 130px;
}
/*gardes*/

/*longchamps*/
.longchampsimg{
    border-radius: 10px;
    width: auto;
    height: auto;
    box-shadow: 4px 4px 50px gainsboro;
    margin: auto;
    margin-bottom: 0px;
    margin-left: -257px;
}

.longchampsimage{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 220px;
    height: 130px;
}
/*longchamps*/