#populaires{
    font-family: Raleway, sans-serif;  
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 10px;
    width: auto;
    height: 440px;
}

.titre-populaires{
    display: inline-flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    width: 270px;
}

.titre-pop{
    padding-left: 0px;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
}

#iconepopulaires{
    padding-top: 20px;
    
}

/*a hover*/
a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: black;
}

a .matinimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .eauimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .blancimg:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}
/*a hover*/


/*matin*/
.matin-img{
    width: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 50px gainsboro;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
    background-color: white;
}

.matin-image{
    clip: left 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    margin-right: 5px;
    width: 100px;
    float: left;
}
/*matin*/


/*eau*/
.eau-img{
    width: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 50px gainsboro;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
    background-color: white;
}

.eau-image{
    clip: left 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    margin-right: 5px;
    width: 100px;
    float: left;
}
/*eau*/

/*blanc*/
.blanc-img{
    width: auto;
    border-radius: 20px;
    box-shadow: 4px 4px 50px gainsboro;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 20px;
    background-color: white;
}
.blanc-image{
    clip: left 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 0px;
    margin-right: 5px;
    width: 100px;
    float: left;
}
/*blanc*/

.name{
    margin-left: 105px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
}

.name_1{
    margin-left: 105px;
    margin-right: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
    
}

.prix-populaires-1{
    font-size: 11px;
    font-weight: normal;
    padding-left: -20px;
    margin-left: 105px;
    margin-top: 5px;
}

.prix-populaires-2{
    font-size: 11px;
    font-weight: normal;
    padding-left: -20px;
    margin-left: 105px;
    margin-top: 5px;
}

.prix-populaires-3{
    font-size: 11px;
    font-weight: normal;
    padding-left: -20px;
    margin-left: 105px;
    margin-top: 5px;
}

.star-1{
    color: #0065fc;
    font-size: 12px;
    margin-top: 40px;  
}

.star-2{
    color: #0065fc;
    font-size: 12px;
    margin-top: 25px;   
}

.star-3{
    color: #0065fc;
    font-size: 12px;
    margin-top: 45px;
}

.star-grey{
    color: rgba(128, 128, 128, 0.534);
}
