#footer{
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    width: 100%;
    margin: auto;
    position: relative;
}

.framing_footer{
    display: flex;
    align-content: space-between;
    width: auto;
    
}

.liste{
    display: flex;
    position: relative;
    flex-direction: column;
    list-style-type: none;
    margin-right: 150px;

}

.name-footer{
    margin-right: -50px;
 }
    
.name-footer-1{
    margin-left: -270px;
    margin-right: -100px;
}

li{
    padding: 3px;
}

h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px; 
}

a{
    display: flex;
    position: relative;
    text-decoration: none;
    color: black;
}

a.help:hover{
    text-decoration: underline;
}

.help{
    display: inline;
    position: relative;
    font-size: 13px;
    font-weight: normal;
}



