#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f2f2f2;
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.liste{
    display: flex;
    position: relative;
    flex-direction: column;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.name-footer{
    margin-top: 0px;
    margin-right: 160px;
}

li{
    padding: 3px;
}

h4{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px; 
}

a{
    display: flex;
    position: relative;
    text-decoration: none;
    color: black;
}

a.underline:hover{
    text-decoration: underline;
}

.underline{
    display: inline;
    position: relative;
    font-size: 13px;
    font-weight: normal;
}



