#header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#header-nav{
    display: flex;
    margin: 0px;
}

/*Navigator */
nav{
    padding-left: 0px;
    max-block-size: 10px;
    margin-top: -43px;
    padding-right: -100px;
}

nav ul{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 29px;
    margin-left: 800px;
}

nav li{
	list-style: none;
	padding-left: 5px;
    padding-right: -10em;
    display: flex;
    justify-content: flex-end;
}


#asurvol{
    color: black;
    text-decoration: none;
    position: relative;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 13px;
    line-height: 70px;
    display: inline-block;
    margin: 0px;
    font-weight: normal;

}

#asurvol:hover{
    color: #0065fc;
    transition: .2s ease-in-out;
    border-top: 2px solid #0065fc;
}

hr{
    height: .05rem;
    width: 5%;
    margin: 0;
    background: #444;
    border: none;
    transition: .1s ease-in-out;
}
/*Navigator*/