/*Header-search*/

h2{
    font-size: 20px;
}

h5{
    font-weight: normal;
    margin-top: -10px;
    margin-bottom: 10px;
}

.titre-filtre{
    margin-left: 0px;
    margin-right: 50px;
    margin-top: -10px;
    padding-top: 0px;
}

/*Barre de recherche*/
.barre{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: solid;
    border-width: 1px;
    border-color: #F2F2F2;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding-bottom: 0px;
    padding-top: -2px;
    width: 300px;
    max-height: 38px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#button{
    font-family: Raleway, sans-serif;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color: #0065fc;
    border: #0065fc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    
    font-weight: bold;
    position: relative;
}
#search{
    padding: 10px;
    padding-top: 13px;
    border-radius: 0px;
    border-width: 0px;
    background-color: white;
    width: 150px;
    position: relative;
}

#icone{
    display: flex;
    position: relative;
    background-color: transparent;
    color: black;
    margin-right: 10px;
    margin-left: 10px; 
    font-size: 12px;   
}

/*Barre de recherche*/



/*Filtre*/
.filtre{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    justify-content: center;
    background-color: transparent;
    width: 900px;
    height: 50px;
    margin-top: 10px;
}

.economique{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    border: solid 2px;
    border-color: #F2F2F2;
    border-radius: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 10px;
    width: 140px;
    max-height: 35px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 40px;
    font-size: 15px;
}

#money{
    position: relative;
    color: #0065fc;
    background-color: #DEEBFF;
    padding: 10px;
    align-items: center;
    border-radius: 100px;
    margin-left: -5px;
    margin-right: 5px;
}

.familial{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    border: solid 2px;
    border-color: #F2F2F2;
    border-radius: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 10px;
    width: 100px;
    max-height: 35px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 40px;
    font-size: 16px;
}

#child{
    position: relative;
    color: #0065fc;
    background-color: #DEEBFF;
    padding: 10px;
    align-items: center;
    border-radius: 100px;
    margin-left: -5px;
    margin-right: 5px;
}

.romantique{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    border: solid 2px;
    border-color: #F2F2F2;
    border-radius: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 10px;
    width: 140px;
    max-height: 35px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 40px;
    font-size: 16px;       
}


#heart{
    position: relative;
    color: #0065fc;
    background-color: #DEEBFF;
    padding: 10px;
    align-items: center;
    border-radius: 100px;
    margin-left: -5px;
    margin-right: 5px;
}

.animaux{
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    border: solid 2px;
    border-color: #F2F2F2;
    border-radius: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 10px;
    width: 190px;
    max-height: 35px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 40px;
    font-size: 16px;
}

#dog{
    position: relative;
    color: #0065fc;
    background-color: #DEEBFF;
    padding: 10px;
    align-items: center;
    border-radius: 100px;
    margin-left: -5px;
    margin-right: 5px;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}

a .economique:hover{
    transform: scale(1.05);
    transition: transform 100ms ease-in-out;
    background-color: rgb(237, 247, 255);
    text-decoration: none;
}

a .familial:hover{
    transform: scale(1.05);
    transition: transform 100ms ease-in-out;
    background-color: rgb(237, 247, 255);
    text-decoration: none;
}

a .romantique:hover{
    transform: scale(1.05);
    transition: transform 100ms ease-in-out;
    background-color: rgb(237, 247, 255);
    text-decoration: none;
}

a .animaux:hover{
    transform: scale(1.05);
    transition: transform 100ms ease-in-out;
    background-color: rgb(237, 247, 255);
    text-decoration: none;
}

/*Filtre*/

/*Infos complémentaire*/

.info{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-bottom: 0px;
    padding-top: 5px;
    padding-left: -10px;
    padding-right: -5px;
    width: 100px;
    max-height: 30px;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 11px;
}

.pointinfo{
    display: flexbox;
    justify-content: center;
    position: relative;
    color: #0065fc;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 7px;
    border-radius: 70px;
    border: solid 2px #F2F2F2;
    width: 25px;
    height: 10px;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 1em;
}

.texteinfo{
    display: flexbox;
    position: relative;
    margin-top: 5px;
    margin-left: 0px;
    padding-right: 100px;
}

/*Infos complémentaire*/

/*Header*/