#hosting{
    background-color: #f2f2f2;
    border-radius: 20px;
    width: auto;
    height: auto;
    margin-right: 40px;
    padding-left: 20px;
}


.name-hosting{
    font-weight: bold;
    position: relative;
    font-size: 20px;
    margin-left: 10px;
    margin-bottom: 0px;
}

h2{
    margin-bottom: 15px;
    margin-top: 25px;
    font-size: 20px;
}

.framing{
    display: flex;
    flex-wrap: wrap;
}

.affichez-plus{
    display: flex;
    position: relative;
    margin: 15px;
    margin-left: 10px;
}

/*a hover*/
a{
    text-decoration: none;
    font-weight: bolder;
    font-size: 15px;
    color: black;
    
}
a .cannebière-img:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .mer-img:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .port-img:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .panier-img:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .mouettes-img:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}

a .amina-img:hover{
    transform: scale(1.03);
    transition: transform 100ms ease-in-out;
}
/*a hover*/

.first_line{
    display: flex;   
    margin: 10px;
}

.second_line{
    display: flex; 
    padding-left: 5px;
    
}

/*Hôtel la cannebière*/
.cannebiere-img{
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    margin: 10px;
    background-color: white;
    box-shadow: 4px 4px 50px gainsboro;   
}

.cannebiere-image{
    clip: left 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 80px;
    width: 100%;
}
/*Hôtel la cannebière*/

/*Hôtel du port*/
.port-img{
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    margin: 10px;
    background-color: white;
    box-shadow: 4px 4px 50px gainsboro;
}

.port-image{
    clip: left 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 80px;
    width: 100%;
}
/*Hôtel du port*/

/*Hôtel Les mouettes*/
.mouettes-img{
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    margin: 10px;
    background-color: white;
    box-shadow: 4px 4px 50px gainsboro;   
}

.mouettes-image{
    clip: left 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 80px;
    width: 100%;
}
/*Hôtel Les mouettes*/

/*Auberge de la mer*/
.mer-img{
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    margin: 15px;
    margin-top: 10px;
    background-color: white;
    box-shadow: 4px 4px 50px gainsboro;
}

.mer-image{
    clip: left 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 80px;
    width: 100%;
}
/*Auberge de la mer*/

/*Auberge Le Panier*/
.panier-img{
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    margin: 10px;
    background-color: white;
    box-shadow: 4px 4px 50px gainsboro;  
}

.panier-image{
    clip: left 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 80px;
    width: 100%;
}
/*Auberge Le Panier*/

/*Hôtel chez Amina*/
.amina-img{
    display: inline-block;
    border-radius: 20px;
    width: 100%;
    height: 150px;
    margin: 10px;
    background-color: white;
    box-shadow: 4px 4px 50px gainsboro;  
}

.amina-image{
    clip: left 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 80px;
    width: 100%;
}
/*Hôtel chez Amina*/

h3{
    margin-top: -5px;
    margin-bottom: 0px;
    margin-left: 13px;
    margin-right: 20px;
    font-weight: bold;
    font-size: 13px;
}

.star{
    display: flex;
    justify-content: space-evenly;
    color: #0065fc;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 4px;
    margin-right: 85px;

}

.star-grey{
    color: rgba(128, 128, 128, 0.534);
}


.prix{
    display: inline;
    position: relative;
    font-size: 11px;
    font-weight: normal;
    margin-left: 13px;
    margin-top: 0px;
}


.figcaption{
    font-size: 1em;
    padding-top: 5%;
}

