body{
    font-family: Raleway, Arial, Helvetica, sans-serif;
    max-width: 1440px;
    width: 100%;
    max-height: 1884px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    max-zoom: 125%;
}

#container{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    max-width: 1440px;
    max-height: 312px;
    position: relative; 
}