/*******Media Queries*********/

/******Laptop 1204px*****/
@media screen and (min-width : 992px) and (max-width: 1204px){

    /*nav*/
    nav{
        width: 40%;
    }

   /*hosting*/
    main{
        margin: 1em 1em 1em 1em;
        display: flex;
        flex-direction: row;
    }

    .cannebiere-img{
        height: 230px;
        width: 25vw;
    }

    .port-img{
        height: 230px;
        width: 25vw; 
    }

    .mouettes-img{
        height: 230px;
        width: 25vw;
    }

    .mer-img{
        height: 230px;
        width: 25vw;
    }

    .panier-img{
        height: 230px;
        width: 25vw;
    }

    .amina-img{
        height: 230px;
        width: 25vw;
    }

    .nom{
        font-size: 13px;
    }
    /*hosting*/

    /*aside*/
    aside{
        width: 30%;
        height: 50em;
    }

    .matin-image{
        width: 43%;
    }

    .eau-image{
        width: 43%;
    }

    .blanc-image{
        width: 52%;
    }
    /*aside*/  

    /*activities*/
    #activities-container{
        padding: 0em 1em 0em 1em
    }

    .vieux-port-img{
        width: 25vw;
    }

    .pomeguès-img{
        width: 20vw;
    }

    .frioul-img{
        width: 20vw;
        margin-top: 1.8em;
    }

    .calanques-img{
        width: 25vw; 
    }

    .gardes-img{
        width: 20vw;
    }

    .longchamps-img{
        width: 20vw;
        margin-top: 1.8em;
    }
    /*activities*/
}
/******Laptop 1204px*****/

/******Ipad******/
@media  screen and (max-width: 991px){

    /*header*/
    nav{
        width: 45%;
    }

    .title-filter{
        margin-right: 0.7em; 
    }

    .filtres{
        margin-left: 0;
    }

    .economique{
        margin-right: 0.8em;
    }

    .familial{
        margin-right: 0.8em;
    }

    .romantique{
        margin-right: 0.8em;
    }

    .animaux{
        margin-right: 0;
    }
    /*header*/

    /*main*/
    main{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 0;
    }  
    /*main*/ 

    /*aside*/
    #populaires{
        width: 50em;
        margin: 0;
    }

    .trend-hosting{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .name{
        font-size: 1.1em;
    }

    .aside_text{
        padding-left: 30px;
    }

    .matin-img{
        height: 200px;
    }

    .matin-image{
        width: 50%;
    }

    .eau-img{
        height: 200px; 
    }

    .eau-image{
        width: 50%;
    }

    .blanc-img{
        height: 200px; 
    }

    .blanc-image{
        width: 60%;
    }
    /*aside*/

    /*hosting*/
    #hosting{
        width: 100%;
        flex-wrap: wrap;
        background-color: white;
    }

    .framing{
        flex-direction: row;
        width: 100%;
    }

    .cannebiere-img{
        width: 40vw;
        height: 250px;
        margin-bottom: 2em;
    }

    .cannebiere-image{
        height: 70%;
    }

    .port-img{
        width: 40vw;
        height: 250px;
        margin-bottom: 2em;
    }

    .port-image{
        height: 70%;
    }

    .mouettes-img{
        width: 40vw;
        height: 250px;
        margin-bottom: 2em;
    }

    .mouettes-image{
        height: 70%;
    }

    .mer-img{
        width: 40vw;
        height: 250px;
        margin-bottom: 2em;
    }

    .mer-image{
        height: 70%;
    }

    .panier-img{
        width: 40vw;
        height: 250px; 
        margin-bottom: 2em;
    }

    .panier-image{
        height: 70%;
    }

    .amina-img{
        width: 40vw;
        height: 250px;
        margin-bottom: 2em;
    }

    .amina-image{
        height: 70%;
    }

    h3{
        font-size: 1.1em;
    }

    .prix{
        font-size: 15px;
    }

    .star{
        margin: 0.3em 0em 0em 1em;
        font-size: 1.2em;
    }
    /*hosting*/

    /*activities*/
    #activities-container{
        padding: 0em 2em 0em 2em;
        margin-bottom: 65em;
    }

    .activities{
        height: 100%;
        flex-direction: initial;
        justify-content: space-around;
    }

    .nom{
        font-size: 14px;
        margin: 0;
    }

    .vieux-port-img{
        width: 40vw;
        height: 400px;
    }

    .vieux-port-image{
        height: 90%;
    }

    .pomeguès-img{
        width: 40vw;
        height: 400px;
    }
    
    .pomeguès-image{
        height: 90%;
    }

    .frioul-img{
        width: 40vw;
        height: 400px;
        margin-top: 25px;
    }

    .frioul-image{
        height: 90%;
    }

    .calanques-img{
        width: 40vw;
        height: 400px;
        margin-top: 25px;
    }

    .calanques-image{
        height: 90%;  
    }

    .gardes-img{
        width: 40vw;
        height: 400px;
        margin-top: 25px;
    }

    .gardes-image{
        height: 90%;  
    }

    .longchamps-img{
        width: 40vw;
        height: 400px;
        margin-top: 25px;
    }

    .longchamps-image{
        height: 90%;  
    }
    /*activities*/

    /*footer*/
    .footer-box{
        flex-direction: column;
    }
    /*footer*/
} 
/******Ipad******/


/******Iphone 8******/
@media screen and (max-width: 767px){

    /*header*/
    header{
        padding: 0vw 0vw 0vw 1vw;
    }

    .logo{
        height: 0;
        padding: 0.5em 1.5em 0em 1.5em;
        width: 0;
    }

    nav{
        width: 100%;
        display: flex;
    }

    .nav-hosting{
        width: 100%;
        color: black;
        border-bottom: 3px solid #f2f2f2;
        padding-top: 2.7em;
        padding-bottom: 0.5em;
        margin-left: -3em;
        display: flex;
        justify-content: center;
    }

    .nav-activities{
        width: 100%;
        color: black;
        border-bottom: 3px solid #f2f2f2;
        padding-top: 2.7em;
        padding-bottom: 0.5em;
        display: flex;
        justify-content: center;
    }

    nav a:active{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
    }

    .signin{
        position: absolute;
        right: 25px;
    }
    /*header*/

    /*header-info*/
    h1{
        margin-top: 2em;
    }

    .submit{
        display: none;
    }

    .fa-search{
        visibility: visible;
        width: 6vw;
        text-align: center;
        color: #f2f2f2;
        background-color: #0065FC;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 15px;
        padding-top: 15px;
        cursor: pointer;
    }

    #search{
        width: 60%;
    }

    .texte-info{
        font-size: 1.1em;
    }

    .title-filters:active{
        background-color: #deebff;
    }
    /*header-info*/

    /*aside*/
    #populaires{
        border-radius: 0px;
        width: 27em;
    }

    .aside_text{
        padding-left: 20px;
    }

    .matin-img{
        max-width: 90vw;
        max-height: 150px; 
    }

    .matin-image{
        max-width: 47%;
    }

    .eau-img{
        max-width: 90vw;
        max-height: 150px;
    }

    .eau-image{
        max-width: 47%;
    }

    .blanc-img{
        max-width: 90vw;
        max-height: 150px; 
    }

    .blanc-image{
        max-width: 55%;
    }
    /*aside*/

    /*hosting*/
    h3{
        font-size: 1.1em;
    }

    .prix{
        font-size: 15px;
    }

    .star{
        font-size: 1em;
    }
    .framing{
        padding-left: 8px;
    }
    .cannebiere-img{
        width: 85vw;
    }

    .port-img{
        width: 85vw;
    }

    .mouettes-img{
        width: 85vw;
    }

    .mer-img{
        width: 85vw;
    }

    .panier-img{
        width: 85vw;
    }

    .amina-img{
        width: 85vw;
    }
    /*hosting*/

    /*activities*/
    #activities-container{
        height: 90em;
    }

    .vieux-port-img{
        width: 85vw;
        height: 300px;
    }

    .pomeguès-img{
        width: 85vw;
        height: 300px;
        margin-top: 25px;
    }

    .frioul-img{
        width: 85vw;
        height: 300px;
        margin-top: 25px;
    }

    .calanques-img{
        width: 85vw;
        height: 300px;
        margin-top: 25px;
    }

    .gardes-img{
        width: 85vw;
        height: 300px;
        margin-top: 25px;
    }

    .longchamps-img{
        width: 85vw;
        height: 300px;
        margin-top: 25px;
    }
    /*activities*/

    /*footer*/
    .footer-box{
        flex-direction: column;
    }
    /*footer*/
}
/******Iphone 8******/
