@media (max-width: 375px){
    
    #root{
        width: auto;
        height: auto;
        flex-direction: column;
    }    

    #main-container{
        width: auto;
        height: auto;;
    }
    nav
    {
        width: auto;
        text-align: left;
    }
    
    nav ul
    {
        flex-direction: column;
    }

    nav li
    {
        padding-left: 4px;
    }
    
    /*#asurvol
    {
        font-size: 1.1em;
    }
    
    .asurvol:hover
    {
        border-bottom: 0;
    }
    
    .asurvol_1:hover*/
}